:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --primary-color: #1B1B1B;
    --secondary-color: #f8f9fa;

}

body {
    background: var(--primary-color);
    color: var(--secondary-color);
    margin: 20px 30px 100px;
    min-width: 330px;
    text-align: center;
    }

nav, footer .contact-footer {
    background: #202020;
}

h1, h2, p {
    font-family: var(--primary-font);

}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 70px;   
    font-weight: 600;
    letter-spacing: 5px;
}

h2 {
    font-size: 24px;
    letter-spacing: 4px;
}

h3 {
    font-size: 20px;
}

p, .external-link a{
    font-size: 18px;
    line-height: 1.5;
 }


.hero {
    padding: 160px 20px 60px;
 }

.scroll-icon {
    margin: 0 auto;
    padding: 8px 0 10px;
}

.about-content, .project-content {
    margin: 40px auto;
    max-width: 800px;
}

.becca-headshot {
    border: 6px rgb(255, 192, 203, 0.1);
    border-radius: 3px;
    border-style: dotted;
    padding: 0;
}

.project-img {
    margin: 10px auto 25px;
   
}

.contact-link {
 margin-top: 30px;    
}

.project-link {
    margin-bottom: 10px;
}

.contact-link, .project-link{
    border-radius: 15px;
    color: #272142;
    padding: 15px 45px;
    transition: all ease-in-out 30ms;
}

.contact-link, .project-link, .scroll-icon {
    font-family: var(--secondary-font);
    font-style: normal;
    font-size: 10px;
    line-height: 17px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.contact-page-links a{
    font-size: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.social-links a{
    padding-left: 10px;
    padding-right: 10px;
    transition: all ease-in-out 30ms;
}

.social-links i{
    font-size: 18px;
}
 .social-links i, .contact-page-links i {
    color: var(--secondary-color);
    transition: all ease-in-out 30ms;
}

.contact-link:hover, .social-links i:hover, .project-link:hover, .contact-page-links i:hover{
   transform: scale(1.1);
}

.external-link {
    font-family: var(--secondary-font);
    text-decoration: none;
    transition: ease-in-out 30ms;
}

.email-link:hover, .external-link {
    color: #f14c5e;
}

.external-link:hover {
    color: var(--secondary-color);
}
    
.linkedin-icon:hover {
    color: #0a66c2;
}
        
.git-icon:hover {
    color: #9f44ab;
}

     

@media (max-width: 620px) {
    body {
        margin-top: 120px;
    }

    h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 15px;
    }
    p, .external-link a {
        font-size: 15px;
    }

    .hero {
       padding: 80px 20px;

    }

    .about-content {
        max-width: 100%;
    }

    .project-link {
        display: block;
          }

    .contact-link, .project-link {
        font-size: 10px;
    }
   

    .contact-page-links a{
        font-size: 35px;
        padding-left: 25px;
        padding-right: 25px;
    }
 

  }

  @media (max-width: 575px) {
    .becca-headshot {
        max-width: 60%;
    }

    .project-img {
        display: none;
    }
  }
    
     